LRW3/LovRubWeb/App_WebReferences/PayPalSvc/paypalsvc.wsdl.exclude

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ebl="urn:ebay:apis:eBLBaseComponents" xmlns:cc="urn:ebay:apis:CoreComponentTypes" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns="urn:ebay:api:PayPalAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.00" targetNamespace="urn:ebay:api:PayPalAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ebay:api:PayPalAPI">
      <xsd:import schemaLocation="CoreComponentTypes.xsd" namespace="urn:ebay:apis:CoreComponentTypes" />
      <xsd:import schemaLocation="eBLBaseComponents.xsd" namespace="urn:ebay:apis:eBLBaseComponents" />
      <xsd:element name="RequesterCredentials" type="ebl:CustomSecurityHeaderType" />
      <xsd:element name="RefundTransactionRequest" type="ns:RefundTransactionRequestType" />
      <xsd:element name="RefundTransactionResponse" type="ns:RefundTransactionResponseType" />
      <xsd:element name="RefundTransactionReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:RefundTransactionRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RefundTransactionRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element name="TransactionID" type="ebl:TransactionId" />
              <xsd:element minOccurs="0" maxOccurs="1" name="RefundType" type="ebl:RefundPurposeTypeCodeType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Amount" type="cc:BasicAmountType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Memo" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RefundTransactionResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetTransactionDetailsRequest" type="ns:GetTransactionDetailsRequestType" />
      <xsd:element name="GetTransactionDetailsResponse" type="ns:GetTransactionDetailsResponseType" />
      <xsd:element name="GetTransactionDetailsReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:GetTransactionDetailsRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GetTransactionDetailsRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element name="TransactionID" type="ebl:TransactionId" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GetTransactionDetailsResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element ref="ebl:PaymentTransactionDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="BillUserRequest" type="ns:BillUserRequestType" />
      <xsd:element name="BillUserResponse" type="ns:BillUserResponseType" />
      <xsd:element name="BillUserReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:BillUserRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BillUserRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element ref="ebl:MerchantPullPaymentDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BillUserResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element ref="ebl:BillUserResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="TransactionSearchRequest" type="ns:TransactionSearchRequestType" />
      <xsd:element name="TransactionSearchResponse" type="ns:TransactionSearchResponseType" />
      <xsd:element name="TransactionSearchReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:TransactionSearchRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="TransactionSearchRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="StartDate" type="xsd:dateTime" />
              <xsd:element minOccurs="0" name="EndDate" type="xsd:dateTime" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Payer" type="ebl:EmailAddressType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Receiver" type="ebl:EmailAddressType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="ReceiptID" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="1" name="TransactionID" type="ebl:TransactionId" />
              <xsd:element minOccurs="0" maxOccurs="1" name="PayerName" type="ebl:PersonNameType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="AuctionItemNumber" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="1" name="TransactionClass" type="ebl:PaymentTransactionClassCodeType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Amount" type="cc:BasicAmountType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="ebl:CurrencyCodeType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="ebl:PaymentTransactionStatusCodeType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TransactionSearchResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ebl:PaymentTransactions" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="MassPayRequest" type="ns:MassPayRequestType" />
      <xsd:element name="MassPayResponse" type="ns:MassPayResponseType" />
      <xsd:element name="MassPayReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:MassPayRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="MassPayRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="EmailSubject" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="250" name="MassPayItem" type="ns:MassPayRequestItemType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MassPayResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MassPayRequestItemType">
        <xsd:annotation>
          <xsd:documentation>
					MassPayRequestItemType - Type declaration to be used by other schemas.
					Request data from the mass pay request 
				</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ReceiverEmail" type="ebl:EmailAddressType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="cc:BasicAmountType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UniqueId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Note" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="BAUpdateRequest" type="ns:BAUpdateRequestType" />
      <xsd:element name="BAUpdateResponse" type="ns:BAUpdateResponseType" />
      <xsd:element name="BillAgreementUpdateReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:BAUpdateRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BAUpdateRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="MpID" type="ebl:MerchantPullIDType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Custom" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Desc" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="1" name="MpStatus" type="ebl:MerchantPullStatusCodeType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BAUpdateResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element ref="ebl:BAUpdateResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="AddressVerifyRequest" type="ns:AddressVerifyRequestType" />
      <xsd:element name="AddressVerifyResponse" type="ns:AddressVerifyResponseType" />
      <xsd:element name="AddressVerifyReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:AddressVerifyRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AddressVerifyRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Email" type="ebl:EmailAddressType" />
              <xsd:element minOccurs="1" maxOccurs="1" name="Street" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="1" name="Zip" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AddressVerifyResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="ConfirmationCode" type="ebl:AddressStatusCodeType" />
              <xsd:element minOccurs="1" maxOccurs="1" name="StreetMatch" type="ebl:MatchStatusCodeType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="ZipMatch" type="ebl:MatchStatusCodeType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="CountryCode" type="ebl:CountryCodeType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="PayPalToken" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="SetExpressCheckoutRequest" type="ns:SetExpressCheckoutRequestType" />
      <xsd:element name="SetExpressCheckoutResponse" type="ns:SetExpressCheckoutResponseType" />
      <xsd:element name="SetExpressCheckoutReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:SetExpressCheckoutRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SetExpressCheckoutRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:SetExpressCheckoutRequestDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SetExpressCheckoutResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Token" type="ebl:ExpressCheckoutTokenType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetExpressCheckoutDetailsRequest" type="ns:GetExpressCheckoutDetailsRequestType" />
      <xsd:element name="GetExpressCheckoutDetailsResponse" type="ns:GetExpressCheckoutDetailsResponseType" />
      <xsd:element name="GetExpressCheckoutDetailsReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:GetExpressCheckoutDetailsRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GetExpressCheckoutDetailsRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Token" type="ebl:ExpressCheckoutTokenType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GetExpressCheckoutDetailsResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:GetExpressCheckoutDetailsResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoExpressCheckoutPaymentRequest" type="ns:DoExpressCheckoutPaymentRequestType" />
      <xsd:element name="DoExpressCheckoutPaymentResponse" type="ns:DoExpressCheckoutPaymentResponseType" />
      <xsd:element name="DoExpressCheckoutPaymentReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoExpressCheckoutPaymentRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoExpressCheckoutPaymentRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:DoExpressCheckoutPaymentRequestDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoExpressCheckoutPaymentResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:DoExpressCheckoutPaymentResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoDirectPaymentRequest" type="ns:DoDirectPaymentRequestType" />
      <xsd:element name="DoDirectPaymentResponse" type="ns:DoDirectPaymentResponseType" />
      <xsd:element name="DoDirectPaymentReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoDirectPaymentRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoDirectPaymentRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:DoDirectPaymentRequestDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoDirectPaymentResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="cc:BasicAmountType" />
              <xsd:element minOccurs="1" maxOccurs="1" name="AVSCode" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="1" name="CVV2Code" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="1" name="TransactionID" type="ebl:TransactionId" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoCaptureRequest" type="ns:DoCaptureRequestType" />
      <xsd:element name="DoCaptureResponse" type="ns:DoCaptureResponseType" />
      <xsd:element name="DoCaptureReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoCaptureRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoCaptureRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="AuthorizationID" type="ebl:AuthorizationId" />
              <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="cc:BasicAmountType" />
              <xsd:element minOccurs="1" maxOccurs="1" name="CompleteType" type="ebl:CompleteCodeType" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Note" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoCaptureResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:DoCaptureResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoReauthorizationRequest" type="ns:DoReauthorizationRequestType" />
      <xsd:element name="DoReauthorizationResponse" type="ns:DoReauthorizationResponseType" />
      <xsd:element name="DoReauthorizationReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoReauthorizationRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoReauthorizationRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="AuthorizationID" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="cc:BasicAmountType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoReauthorizationResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="AuthorizationID" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoVoidRequest" type="ns:DoVoidRequestType" />
      <xsd:element name="DoVoidResponse" type="ns:DoVoidResponseType" />
      <xsd:element name="DoVoidReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoVoidRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoVoidRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="AuthorizationID" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Note" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoVoidResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="AuthorizationID" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequesterCredentials">
    <wsdl:part name="RequesterCredentials" element="ns:RequesterCredentials" />
  </wsdl:message>
  <wsdl:message name="RefundTransactionRequest">
    <wsdl:part name="RefundTransactionRequest" element="ns:RefundTransactionReq" />
  </wsdl:message>
  <wsdl:message name="RefundTransactionResponse">
    <wsdl:part name="RefundTransactionResponse" element="ns:RefundTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsRequest">
    <wsdl:part name="GetTransactionDetailsRequest" element="ns:GetTransactionDetailsReq" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsResponse">
    <wsdl:part name="GetTransactionDetailsResponse" element="ns:GetTransactionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="BillUserRequest">
    <wsdl:part name="BillUserRequest" element="ns:BillUserReq" />
  </wsdl:message>
  <wsdl:message name="BillUserResponse">
    <wsdl:part name="BillUserResponse" element="ns:BillUserResponse" />
  </wsdl:message>
  <wsdl:message name="TransactionSearchRequest">
    <wsdl:part name="TransactionSearchRequest" element="ns:TransactionSearchReq" />
  </wsdl:message>
  <wsdl:message name="TransactionSearchResponse">
    <wsdl:part name="TransactionSearchResponse" element="ns:TransactionSearchResponse" />
  </wsdl:message>
  <wsdl:message name="MassPayRequest">
    <wsdl:part name="MassPayRequest" element="ns:MassPayReq" />
  </wsdl:message>
  <wsdl:message name="MassPayResponse">
    <wsdl:part name="MassPayResponse" element="ns:MassPayResponse" />
  </wsdl:message>
  <wsdl:message name="BillAgreementUpdateRequest">
    <wsdl:part name="BillAgreementUpdateRequest" element="ns:BillAgreementUpdateReq" />
  </wsdl:message>
  <wsdl:message name="BAUpdateResponse">
    <wsdl:part name="body" element="ns:BAUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="AddressVerifyRequest">
    <wsdl:part name="AddressVerifyRequest" element="ns:AddressVerifyReq" />
  </wsdl:message>
  <wsdl:message name="AddressVerifyResponse">
    <wsdl:part name="AddressVerifyResponse" element="ns:AddressVerifyResponse" />
  </wsdl:message>
  <wsdl:message name="DoExpressCheckoutPaymentRequest">
    <wsdl:part name="DoExpressCheckoutPaymentRequest" element="ns:DoExpressCheckoutPaymentReq" />
  </wsdl:message>
  <wsdl:message name="DoExpressCheckoutPaymentResponse">
    <wsdl:part name="DoExpressCheckoutPaymentResponse" element="ns:DoExpressCheckoutPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutRequest">
    <wsdl:part name="SetExpressCheckoutRequest" element="ns:SetExpressCheckoutReq" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutResponse">
    <wsdl:part name="SetExpressCheckoutResponse" element="ns:SetExpressCheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetExpressCheckoutDetailsRequest">
    <wsdl:part name="GetExpressCheckoutDetailsRequest" element="ns:GetExpressCheckoutDetailsReq" />
  </wsdl:message>
  <wsdl:message name="GetExpressCheckoutDetailsResponse">
    <wsdl:part name="GetExpressCheckoutDetailsResponse" element="ns:GetExpressCheckoutDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DoDirectPaymentRequest">
    <wsdl:part name="DoDirectPaymentRequest" element="ns:DoDirectPaymentReq" />
  </wsdl:message>
  <wsdl:message name="DoDirectPaymentResponse">
    <wsdl:part name="DoDirectPaymentResponse" element="ns:DoDirectPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="DoCaptureRequest">
    <wsdl:part name="DoCaptureRequest" element="ns:DoCaptureReq" />
  </wsdl:message>
  <wsdl:message name="DoCaptureResponse">
    <wsdl:part name="DoCaptureResponse" element="ns:DoCaptureResponse" />
  </wsdl:message>
  <wsdl:message name="DoReauthorizationRequest">
    <wsdl:part name="DoReauthorizationRequest" element="ns:DoReauthorizationReq" />
  </wsdl:message>
  <wsdl:message name="DoReauthorizationResponse">
    <wsdl:part name="DoReauthorizationResponse" element="ns:DoReauthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="DoVoidRequest">
    <wsdl:part name="DoVoidRequest" element="ns:DoVoidReq" />
  </wsdl:message>
  <wsdl:message name="DoVoidResponse">
    <wsdl:part name="DoVoidResponse" element="ns:DoVoidResponse" />
  </wsdl:message>
  <wsdl:portType name="PayPalAPIInterface">
    <wsdl:operation name="RefundTransaction">
      <wsdl:input message="ns:RefundTransactionRequest" />
      <wsdl:output message="ns:RefundTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <wsdl:input message="ns:GetTransactionDetailsRequest" />
      <wsdl:output message="ns:GetTransactionDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="BillUser">
      <wsdl:input message="ns:BillUserRequest" />
      <wsdl:output message="ns:BillUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="TransactionSearch">
      <wsdl:input message="ns:TransactionSearchRequest" />
      <wsdl:output message="ns:TransactionSearchResponse" />
    </wsdl:operation>
    <wsdl:operation name="MassPay">
      <wsdl:input message="ns:MassPayRequest" />
      <wsdl:output message="ns:MassPayResponse" />
    </wsdl:operation>
    <wsdl:operation name="BillAgreementUpdate">
      <wsdl:input message="ns:BillAgreementUpdateRequest" />
      <wsdl:output message="ns:BAUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddressVerify">
      <wsdl:input message="ns:AddressVerifyRequest" />
      <wsdl:output message="ns:AddressVerifyResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PayPalAPIAAInterface">
    <wsdl:operation name="DoExpressCheckoutPayment">
      <wsdl:input message="ns:DoExpressCheckoutPaymentRequest" />
      <wsdl:output message="ns:DoExpressCheckoutPaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetExpressCheckout">
      <wsdl:input message="ns:SetExpressCheckoutRequest" />
      <wsdl:output message="ns:SetExpressCheckoutResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetExpressCheckoutDetails">
      <wsdl:input message="ns:GetExpressCheckoutDetailsRequest" />
      <wsdl:output message="ns:GetExpressCheckoutDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="DoDirectPayment">
      <wsdl:input message="ns:DoDirectPaymentRequest" />
      <wsdl:output message="ns:DoDirectPaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="DoCapture">
      <wsdl:input message="ns:DoCaptureRequest" />
      <wsdl:output message="ns:DoCaptureResponse" />
    </wsdl:operation>
    <wsdl:operation name="DoReauthorization">
      <wsdl:input message="ns:DoReauthorizationRequest" />
      <wsdl:output message="ns:DoReauthorizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="DoVoid">
      <wsdl:input message="ns:DoVoidRequest" />
      <wsdl:output message="ns:DoVoidResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayPalAPISoapBinding" type="ns:PayPalAPIInterface">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RefundTransaction">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillUser">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionSearch">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MassPay">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillAgreementUpdate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressVerify">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayPalAPIAASoapBinding" type="ns:PayPalAPIAAInterface">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoExpressCheckoutPayment">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExpressCheckout">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpressCheckoutDetails">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDirectPayment">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoCapture">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoReauthorization">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoVoid">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayPalAPIInterfaceService">
    <wsdl:port name="PayPalAPI" binding="ns:PayPalAPISoapBinding">
      <wsdlsoap:address location="https://api.sandbox.paypal.com/2.0/" />
    </wsdl:port>
    <wsdl:port name="PayPalAPIAA" binding="ns:PayPalAPIAASoapBinding">
      <wsdlsoap:address location="https://api-aa.sandbox.paypal.com/2.0/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>